@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #681296;
  --secondary-color: #9654ba;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  @apply text-lg font-medium leading-6 text-gray-900;
}

/** Boilerplate for future dark mode styling */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@screen sm {
  .auth-container {
    @apply rounded-md;
  }
  .auth-input {
    @apply shadow-sm text-sm;
  }
  .auth-label {
    @apply text-sm;
  }
  .profile-row {
    @apply grid grid-cols-3 gap-4 px-6;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: auto;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffffff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #9654ba;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
}

.red-button-sm {
  @apply inline-flex justify-center rounded-md border-transparent bg-red-500 py-1 px-3 text-sm font-medium text-white shadow-sm;
}

.container {
  @apply w-full h-screen flex flex-row justify-center justify-items-center align-middle overflow-hidden bg-white;
}

.indigo-button-sm,
.indigo-button-lg {
  @apply inline-flex justify-center rounded-md border-transparent bg-indigo-600 py-1 px-3 text-sm font-medium text-white shadow-sm;
}

.indigo-button-sm {
  @apply py-1 px-3;
}

.indigo-button-lg {
  @apply py-2 px-4;
}
.indigo-button-sm:disabled,
.indigo-button-lg:disabled {
  @apply bg-gray-500;
}

.error {
  @apply text-red-500 italic;
}

.navbar-item {
  @apply relative overflow-hidden text-white text-ellipsis whitespace-nowrap rounded;
}

/**Volunteer Login + Registration****************************************/
.auth-container {
  @apply overflow-hidden shadow;
  width: 550px;
}

.auth-input {
  @apply mt-1 block w-full rounded-lg border-gray-300;
}

.auth-input:focus {
  @apply z-10 border-primary-color outline-none ring-primary-color;
}

.auth-label {
  @apply block font-medium text-gray-700 text-left;
}

.registration-header {
  @apply contents text-base font-bold text-primary-color;
}

.password-toggle {
  @apply relative bottom-7 float-right right-3;
}

/**Volunteer Profile*************************/
.profile-row {
  @apply px-6 py-3 text-sm text-gray-900;
}

.profile-input-label {
  @apply block text-sm text-gray-700 text-left;
}

.profile-input {
  @apply mt-1 block w-full h-auto text-sm rounded-md border-gray-300;
}

/**Volunteer Schedule*************************/
.table-header {
  @apply py-2 px-3 text-base text-center font-medium;
}

.clock-button {
  @apply text-indigo-600;
}

.clock-button:hover {
  @apply text-indigo-800;
}

.clock-button:disabled {
  @apply text-gray-500;
}
